.table {
  background-color: var(--gray);
  padding: 1.5rem;
  height: min-content;
}

.table td {
  padding: 1rem;
}
.table th {
  padding: 1rem;
}

.thead > tr {
  border-bottom: solid 0.2rem var(--sky-blue);
}
